<button (click)="toggleProductDetail()">Ver detalle</button>
<button (click)="createNewProduct()">Crear Nuevo</button>
<button (click)="onShowDetail('12555')">Detalle Not Found</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="loadMore()">Cargar más</button>
  <div class="product-detail" [class.active]="showProductDetail">
    {{ statusDetail }}
    <div *ngIf="productChosen">
      <button (click)="toggleProductDetail()">Close</button>
      <h1>{{ productChosen.title }}</h1>
      <app-img *ngIf="productChosen.images.length > 0" [img]="productChosen.images[0]" ></app-img>
      <button (click)="updateProduct()">Editar</button>
      <button (click)="deleteProduct()">Eliminar</button>
    </div>
  </div>
</div>
